.git
.gitignore
.deploy
.trellis
.trellis-bak
__pycache__
*.pyc
*.pyo
*.db
*.log
*.pid
*.tar
*.tar.gz
src/venv
src/db
src/download
src/backup
src/log
src/ssl
src/wg-dashboard.ini
src/wg-dashboard-oidc-providers.json
node_modules
coverage
tests
