WGD_IMAGE=wgdashboard-guard:local
WGD_CONTAINER_NAME=wgdashboard
WGD_HTTP_PORT=10086
WGD_PORT=10086
WG_PORT=51820
TZ=UTC
WG_AUTOSTART=wg0
PUBLIC_IP=
WGD_USERNAME=
WGD_PASSWORD=
WGD_ENABLE_TOTP=
WGD_DYNAMIC_CONFIG=true
